
.weather-card {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-style: normal; 
  background-image: url('./backgrnd-img.jpg');
  border-radius: 10px;
  padding-left: 50px;
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 750px;
  margin: 0 auto;
  height: 550px;
}

h1 {
  margin: 0;
  padding: 0;

}

h2 {
  margin: 10px;
}
.defaultCity{
  font-size: 25px;
  margin-left: 10px;
}

ul {
  list-style: none;
}

#cityInput {
  width: 400px;
  margin-right: 50px;
  font-size: 16px;
  border-radius: 5px;
  height: 40px;
  box-shadow: 3px 5px rgba(26, 26, 26, 0.1);

}

#searchButton {
  font-size: 16px;
  height: 40px;
  border-radius: 3px;
  box-shadow: 5px 5px rgba(26, 26, 26, 0.1);
  color: rgb(12, 133, 133);
  margin-left: 50px;
  width: 100px;
}

#searchButton:hover {
  cursor: pointer;
  background-color: rgb(133, 133, 143);
}

.description {
  position: relative;
  bottom: 90px;
  left: 90px;
  text-align: center;
}

.weather-icon {
  width: 90px;
  height: 90px;
  margin-right: 5px;
}

.weather-list-item {
  margin-bottom: 10px;
}

.clear-icon {
  position: relative;
  right: 75px;
  cursor: pointer;
  font-size: 12px;
}

.temp {
  color: rgb(11, 72, 74);
}

.descr {
  font-size: 15px;
}

.col {
  font-size: 20px;
  color: rgb(9, 64, 64);
}

.link {
  margin-top: 3px;
  text-align: center;

}

.link a {
  color: blue;
  text-decoration: none;

}

.link a:hover {
  text-decoration: underline;
  color: rgb(26, 126, 126);
}